
@{
    ViewBag.Title = "DNKH";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h1 class="thongbao">@ViewBag.Thongbao</h1>
<div class="login-page">
    <h1 class="login-formtd">
        Đăng Nhập
    </h1>
    <br />
    @using (Html.BeginForm("DNKH", "Home", FormMethod.Post))
    {
        @Html.ValidationSummary(true)
        <div class="form">
            <form class="login-form">
                <h2 class="de-muc">Tên đăng nhập:</h2>
                <input type="text" placeholder="username" name="tendn" />

                <h2 class="de-muc">Mật khẩu:</h2>
                <input type="password" placeholder="password" name="matkhau" />

                <button type="submit">Đăng nhập</button>
                <label class="gt-dk">Bạn chưa có tài khoản? Đăng ký ngay tại <a style="text-decoration:none" href="@Url.Action("DKKH","Home")"> đây!</a></label>
            </form>
        </div>
    }
</div>

